<!-- <div class="container">
  <div class="table-title">
    <div class="row">
      <div class="col-lg-6">
        <h2>Manage <b>Employees</b></h2>
      </div>
      <div class="col-lg-6" >
        <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal"><i
          class="material-iconsx">&#xE147;</i> <span>Add New Employee</span></a>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sanchit</td>
            <td>Narang</td>
            <td>20</td>
            <td>
              <button type="button" class="btn btn-primary">EDIT<i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success">DELETE<i class="fas fa-edit"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Neha</td>
            <td>Joshi</td>
            <td>23</td>
            <td>
              <button type="button" class="btn btn-primary">EDIT<i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success">DELETE<i class="fas fa-edit"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Kanika</td>
            <td></td>
            <td>19 </td>
            <td>
              <button type="button" class="btn btn-primary">EDIT<i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success">DELETE<i class="fas fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>